* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: black;
}

/* top bar */
.window-settings {
    color: white;
    padding-bottom: 20px;
    height: 7vh;
}

.window-settings .window-btn {
    display: flex;
    justify-content: flex-end;
    font-size: .6rem;
    padding: 5px 5px 0 0;
    gap: 5px;
}

.window-btn .btn {
    background-color: #4A4A4A;
    padding: .2rem .2rem;
    font-size: .6rem;
    border-radius: 3px;
    border: none;
    color: white;
}
/* top bar */

/* user window */
.user-window .user-container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
}

.user-row {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 10px;
}

.user-col {
    flex-grow: 1;
    flex-basis: calc(100% / 7 - 5px);
    overflow: hidden;
    height: calc((100vh - 10px) / 7);
    position: relative;
}

.user-col img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.name-tag {
    color: white;
    position: absolute;
    bottom: 0;
    font-size: .6rem;
    background-color: rgba(86, 86, 86, 0.4);
    padding: .3rem;
}
/* user window */

/* functions bar */
.functions-bar {
    background-color: #222222;
    padding: 1rem 0;
    /* height: 10vh; */
}

.functions-bar .functions-row {
    display: flex;
    justify-content: space-between;
    border: 1px dashed yellowgreen;
    gap: 20px;
}

.functions-row .btn-col {
    height: 50px;
    width: 50px;
    border: 1px dashed yellow;
}

.btn-col.left {
    flex-grow: 1;
}

.btn-col.large {
    flex-grow: 2;
}

.btn-col.right {
    flex-grow: 1;
}