* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: black;
}

.webapp {
    height: 100vh;
}

/* top bar */
.window-settings {
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px dashed brown;
}

.window-settings .window-btn {
    display: flex;
    justify-content: flex-end;
    font-size: .6rem;
    padding: 5px 5px 0 0;
    gap: 5px;
}

.window-btn .btn {
    background-color: #4A4A4A;
    padding: .2rem .2rem;
    font-size: .6rem;
    border-radius: 3px;
    border: none;
    color: white;
}
/* top bar */

/* user window */
.user-window .user-container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: #4A4A4A;
}

.user-row {
    border: 1px dashed plum;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 10px;
}

.user-col {
    border: 1px dashed deeppink;
    flex-grow: 1;
    flex-basis: calc(100% / 7 - 5px);
    height: 100px;
}