* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: black;
}

.viewport {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* top bar */
.user-window {
    overflow: hidden;
}

.window-settings {
    color: white;
    padding-bottom: 10px;
}

.window-settings .window-btn {
    display: flex;
    justify-content: flex-end;
    font-size: .6rem;
    padding: 5px 5px 0 0;
    gap: 5px;
}

.window-btn .btn {
    background-color: #4A4A4A;
    padding: .2rem .2rem;
    font-size: .6rem;
    border-radius: 3px;
    border: none;
    color: white;
}
/* top bar */

/* user window */
.user-window .user-container {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

.user-row {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 10px;
}

.user-col {
    flex-grow: 1;
    flex-basis: calc(100% / 7 - 5px);
    overflow: hidden;
    height: calc(100vh / 7);
    position: relative;
    min-width: 100px;
    min-height: 80px;
}

.user-col img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.name-tag {
    color: white;
    position: absolute;
    bottom: 0;
    font-size: .6rem;
    background-color: rgba(86, 86, 86, 0.4);
    padding: .3rem;
}
/* user window */

/* functions bar */
.functions-bar {
    background-color: #222222;
}

.functions-bar .functions-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: white;
}

.btn-col.left {
    flex-grow: 1;
    display: flex;
    padding-left: 1rem;
}

.btn-col.large {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-col.right {
    flex-grow: 1;
}

.btn-col {
    text-align: center;
}

.btn-with-arrow {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-icon {
    font-size: 1.4rem;
    padding-bottom: .2rem;
}

.fa-solid.fa-share-from-square {
    color: #48C900;
}

.more-padding {
    padding: 0 .6rem;
}

.btn-text, .btn-arrow {
    font-size: .6rem;
}

.end-btn {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.end-btn a {
    display: inline-block;
    text-align: center;
    padding: 1.5rem .9rem;
    background-color: #4A4A4A;
    text-decoration: none;
    color: red;
    font-size: .6rem;
}